@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}


body {
  background-color: #f2f2f2;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}

.page-header,
.main,
.page-footer {
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.main-background {
  background-image: url("../images/backgrounds/background-collar.svg"),
    url("../images/backgrounds/index-background.jpg"),
    linear-gradient(to bottom, #83b3d333, #82b3d3);
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  padding-top: 49px;
  padding-bottom: 82px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.dark .subtitle {
  color: #ffffff;
}

.basic-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  font-weight: 400;
}

.describing-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #82b3d3;
  color: #ffffff;
}

.lightest {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item.lightest {

  background-color: transparent;
}

.light {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-subtitle-underline {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.dark .advantages-subtitle-underline {
  background-color: rgba(255, 255, 255, 0.3);
}


.advantages-subtitle,
.services-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services-subtitle {
  position: relative;
  padding-top: 102px;
}

.services-subtitle::before {
  position: absolute;
  content: "";
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
}

.services-subtitle.house::before {
  background-image: url("../images/icons/house.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-subtitle.eat::before {
  background-image: url("../images/icons/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-subtitle.souvenir::before {
  background-image: url("../images/icons/souvenir.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.footer-social {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 144px;
  padding-left: 70px;
}

.footer-social-item {
  min-width: 47px;
  min-height: 40px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.footer-social-link {
  min-width: 47px;
  min-height: 40px;
  display: block;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-telegram {
  background-image: url("../images/icons/social-telegram.svg");
}

.footer-social-vk {
  background-image: url("../images/icons/social-vk.svg");
}

.footer-social-youtube {
  background-image: url("../images/icons/social-youtube.svg");
}

.footer-contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-align: center;
  display: inline-block;
  margin-left: 28px;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  min-width: 150px;
  gap: 32px;
  padding-right: 70px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.inner-header-catalog-hotels-background {
  background-color: #3f5e72;
  background-image: url("../images/backgrounds/hotels-filter.jpg");
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 408px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 32px 70px 42px 70px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 11px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding-left: 14px;
  color: #ffffff;
}

.breadcrumbs-home {
  display: block;
  width: 15px;
  height: 13px;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 10px;
}


.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link.current-page {
  color: #ffffff;
  pointer-events: none;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 8px;
  right: -17px;
  width: 8px;
  height: 20px;
  content: "";
  background-image: url("../images/icons/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-filter-item:hover + .control-input:not(:disabled) {
  background-color: #5d8dac;
  opacity: 0.3;
}

.control-input:focus + .control-mark {
  outline: none;
  outline: 3px solid #83b3d3;
}

.control-input:active + .control-mark {
  background-color: #5d8dac;
}

.control-input:disabled + .control-mark {
  background-color: #4f608afc;
}

.select-sorting:hover:not(:disabled),
.select-sorting:focus {
  outline: none;
  outline: 3px solid #83b3d3;
}

.select-sorting:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.catalog-filter-title,
.rental-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-list {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.hotel-card-title {
  text-transform: none;
}

.rating-stars {
  background-size: 20% auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 37px;
}

.stars {
  background-image: url("../images/icons/stars.svg");
  background-repeat: no-repeat;
  width: 140px;
  height: 37px;
  grid-area: 1/1/7/7;
}

.stars-background,
.stars-background-2,
.stars-background-3,
.stars-background-4 {
  background-color: #ffffff;
  min-width: 30px;
  height: 37px;
}

.stars-background-2 {
  grid-area: 1/3/7/7;
}

.stars-background-3 {
  grid-area: 1/4/7/7;
}

.stars-background-4 {
  grid-area: 1/5/7/7;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  min-width: 60px;
  min-height: 60px;
  padding: 12px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-current,
.dots {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.button {
  display: inline-block;
  width: 160px;
  min-height: 36px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-search-hotels {
  color: #ffffff;
  /*! background-color: #756157; */
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 0;
  margin-top: 54px;
  min-height: 52px;
  width: 376px;
  padding: 8px 50px;
}

.transparent {
  background-color: transparent;
}

.newsletter-title {
  color: inherit;
  margin-bottom: 20px;
}

.newsletter-mail-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  padding: 0;
  width: 452px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 6px;
}

.newsletter-button {
  width: 232px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: grid;
  grid-template-columns: 168px 481px 250px 1fr;
  width: 1060px;
  margin: 0 auto;
  align-items: start;
  padding: 0;
  position: relative;
  grid-template-rows: minmax(64px, auto);
  grid-auto-flow: row;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: inherit;
  flex-direction: row;
}

.logo {
  position: absolute;
  z-index: 100;
}

.link-logo {
  align-self: start;
  grid-area: 1/1/1/2;
  width: 138px;
  height: 64px;
  outline: none;
}

.navigation-item .navigation-link {
  display: inline-block;
}

.navigation-link-search.navigation-link,
.navigation-link-liked {
  padding: inherit;
}

.navigation-link-search {
  margin-top: 3px;
}

.navigation-user .navigation-item {
  flex-basis: 37px;
  padding: 10px 6px 10px 5px;
}

.navigation-link-liked.navigation-link {
  position: relative;
}

.navigation-user li:last-child {
  margin-right: 21px;
}

.navigation > .navigation-button {
  grid-row: 1;
  grid-column: 4;
  align-self: start;
  margin: 14px auto auto 0;
  padding: 8px 30px;
}

.navigation-link-liked::before {
  position: absolute;
  bottom: 25px;
  left: 47%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7db54f;
  content: "12";
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-list .navigation-item {
  display: inline-block;
  border-bottom: 3px solid transparent;
  margin: 0 16px;
}

.navigation-list .navigation-link {
  padding: 20px 0 18px 0;
}

.link-logo:hover {
  opacity: 0.7;
}

.link-logo:focus-visible {
  outline: auto;
}

.link-logo:active {
  opacity: 0.4;
  transition: opacity 0.3s;
}

.navigation-link:not(.button):focus,
.navigation-link:not(.button):hover,
.navigation-link:not(.navigation-link):hover,
.navigation-link:not(.navigation-link):focus {
  color: #756157;
}

.navigation-icon:focus path,
.navigation-icon:hover path {
  fill: #756157;
}

.navigation-list .navigation-item:active {
  border-bottom-color: #756157;
}

.body-inner .navigation-link-hotels,
.body-index .navigation-link-index {
  border-bottom-color: #756257;
  pointer-events: none;
  cursor: default;
}

.navigation-button {
  margin-right: 0;
}

link.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #e5e5e5;
}

.footer-contacts-phone:hover,
.footer-link:hover path {
  color: #756157;
  fill: #756157;
}

.footer-contacts-phone:focus,
.footer-link:focus path,
.footer-link:focus {
  color: #756157;
  fill: #756157;
  outline: none;
}

.footer-contacts-phone:active,
.footer-link:active path {
  color: rgba(117, 97, 87, 0.3);
  fill: rgba(117, 97, 87, 0.3);
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.advantages,
.services {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-invite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 69px 200px 90px;
}

.advantages-title {
  margin-bottom: 25px;
  font-family: "PT Sans", sans-serif;
}

.advantages-list {
  padding: 0;
  margin: 0;
  min-height: 1155px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  padding: 0 84px 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li.advantages-item-dark-wrap {
  display: flex;
  flex-wrap: wrap;
}

div.dark {
  padding-top: 102px;
  min-height: 385px;
}

.advantages-item-dark-img {
  width: 800px;
  background-color: rgba(122, 105, 97, 0.24);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

div.advantages-item-dark-img.mountains {
  background-color: #756157;
  background-image: url("../images/hotel-in-the-mountains.jpg");
}

div.advantages-item-dark-img.devilish-bridge {
  background-color: #756157;
  background-image: url("../images/devilish-bridge.jpg");
}

.lightest,
.light {
  padding-top: 112px;
  min-height: 385px;
}

.services-invite {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 200px;
}

.services-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 81px 85px;
}

.services-text {
  margin-top: 0;
  margin-bottom: 0;
}

.services-title {
  margin-bottom: 20px;
}

.offers {
  min-height: 214px;
  padding: 96px 75px;
}

.offers-title {
  margin-bottom: 20px;
}

.offers-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.newsletter {
  min-height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 96px 258px 104px;
}

.index-newsletter {
  background-color: #3f5e72;
  background-image: url("../images/backgrounds/for-newsletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
}

.newsletter-form {
  height: 52px;
  display: flex;
  margin-top: 54px;
}

.page-footer {
  display: grid;
  grid-template-columns: 382px 436px 382px;
  width: 1200px;
  align-items: start;
  grid-template-rows: minmax(50px, auto);
  grid-auto-flow: row;
  padding-top: 46px;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  justify-content: start;
  list-style: none;
  min-width: 142px;
  min-height: 40px;
  padding: 0;
  margin: 0;
  max-width: 145px;
  flex-wrap: wrap;
}

.footer-social-link:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.footer-social-link:focus {
  opacity: 0.7;
  transition: opacity 0.3s;
  outline: none;
}

.footer-social-link:active {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-hotels {
  width: 1060px;
  min-height: 160px;
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.inner-header {
  width: 1060px;
  min-height: 107px;
  margin: 0 auto 39px;
}

.filtration-result-header {
  display: grid;
  grid-template-columns: 538px 292px 230px;
  width: 1060px;
  margin: 0 auto;
  align-items: start;
  padding: 0;
  grid-template-rows: minmax(49px, auto);
  grid-auto-flow: row;
}

.hotels-list-view {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: flex-end;
  min-width: 160px;
  flex-wrap: wrap;
  gap: 8px;
  align-items: start;
  flex-direction: row;
  min-height: 49px;
  margin: 0;
}

.filtration-result {
  min-height: 1235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 70px 60px;
}

.filtration-result-title {
  margin: 0;
  padding: 0;
  padding-top: 6px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 49px;
  border: solid #e5e5e5 2px;
  border-radius: 4px;
}

.card-grid-toggle.active {
  border-color: #000000;
}

.card-grid-toggle:hover {
  border-color: #000000;
}

.card-grid-toggle:focus {
  outline: none;
  border-color: #68a2ca;
}

.card-grid-toggle:active {
  border-color: #000000;
}

.hotel-card {
  min-height: 438px;
  width: 340px;
  list-style: none;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  border: solid #e6e6e6 1px;
  border-radius: 4px;
  grid-template-rows: 211px minmax(28px, auto) 21px 36px 37px;
}

.hotel-card .card,
.hotel-card .link {
  grid-column: 1/-1;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.hotel-rating {
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-list {
  width: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-top: 37px;
  margin-bottom: 40px;
}

.line-under-pagination {
  width: 1060px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 36px;
}

.pagination {
  width: 1060px;
  min-height: 60px;
  display: flex;
  justify-content: start;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.catalog-newsletter-placeholder {
  background-color: #f2f2f2;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  margin-right: 70px;
  border: none;
  min-width: 150px;
  min-height: 157px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}


.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  background-image: url("../images/icons/control-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 12.2px;
  height: 9.9px;
  top: 5px;
  left: 4px;
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  background-color: rgb(63, 94, 114);
  border-radius: 50%;
  content: "";
}

.control-input:focus + .control-mark,
.control-input:hover + .control-mark {
  filter: brightness(0.8);
}

.choice-rental-price {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  margin-left: auto;
}

.rental-price-wrap {
  display: flex;
  margin-bottom: 36px;
  width: 288px;
  height: 48px;
}

.min-price,
.max-price {
  position: relative;
}

::placeholder {
  color: #000000;
}

.min-price input,
.max-price input {
  padding: 0;
  margin: 0;
  width: 143px;
  height: 48px;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-align: left;
  padding-right: 40px;
  letter-spacing: -0.7px;
  font-family: "PT Sans", sans-serif;
}

.min-price::after {
  position: absolute;
  top: 13px;
  right: 22px;
  width: 17px;
  height: 24px;
  content: "от";
  font-weight: 400;
  color: #00000094;
  font-size: 18px;
  line-height: 24px;
}

.max-price::after {
  position: absolute;
  top: 13px;
  right: 20px;
  width: 20px;
  height: 24px;
  content: "до";
  font-weight: 400;
  color: #00000094;
  font-size: 18px;
  line-height: 24px;
}

.rental-price-buttons-wrap {
  padding-top: 56px;
  width: 191px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rental-price-buttons-wrap > button {
  width: 191px;
}

.min-price input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  margin-right: 2px;
  padding-left: 20px;
}

.max-price input {
  padding-left: 21px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}


/* Range */
.range-scale {
  position: relative;
  height: 5px;
  margin-bottom: 17px;
  background-color: #7f7c7c;
  border-radius: 2px;
  bottom: -8px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 28%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: none;
  outline: 3px solid #83b3d3;
  box-shadow: 0 7px 15px 5px #00000066;

}

.range-toggle:active {
  outline: none;
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 5px #00000066;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}


.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
  margin-right: -129px;
}

.select-sorting {
  width: 100%;
  padding: 9px 14px;
  padding-right: 48px;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  appearance: none;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  height: 49px;
}

.button.apply,
.rental-price-button-reset {
  height: 37px;
  margin-bottom: 30px;
}

.hotel-card-select-button,
.hotel-card-about-button {
  width: 140px;
  height: 36px;
  text-align: center;
}

a.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-disabled-link {
  background-color: #f2f2f2;
  border-color: #f2f2f27f;
  pointer-events: none;
  cursor: default;
}

.pagination-disabled-link path {

  fill: rgb(137, 135, 135);
}


.disabled-link {
  background-color: #e5e5e5;
  color: rgba (255, 255, 255, 0.3);
  pointer-events: none;
  cursor: default;
}


.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-brown {
  background-color: #756157;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus {
  background-color: #6c9e42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button:disabled {
  background-color: #e5e5e5;
  color: rgba (255, 255, 255, 0.3);
  pointer-events: none;
  cursor: default;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  background-color: transparent;
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  top: 15%;
  margin: 0 auto;
  background-color: #ffffff;
  width: 717px;
  height: 576px;
  padding: 64px 70px;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 67px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: #f2f2f2;
  z-index: 200;
}

.field-group {
  min-height: 48px;
  display: flex;
  align-items: center;
}

.field-group label {
  width: 137px;
  min-height: inherit;
}

.field-group input {
  width: 440px;
  height: 48px;
  background-color: #f2f2f2;
  appearance: textfield;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  border: none;
  padding-left: 19px;
  padding-right: 50px;
  border-radius: 4px;
}

.reservation-start-label,
.reservation-end-label {
  position: relative;
}

.reservation-form-start input:hover,
.reservation-form-end input:hover {
  filter: brightness(0.9);
}

.reservation-start-label::after,
.reservation-end-label::after {
  position: absolute;
  content: " ";
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/date.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 15px;
  left: 537px;
  opacity: 0.6;
  z-index: 100;
}

.reservation-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
  padding-right: 130px;
}

.min-price,
.max-price,
.quantity-adults,
.quantity-children {
  -moz-appearance: textfield;
}

.max-price::-webkit-outer-spin-button,
.max-price::-webkit-inner-spin-button,
.min-price::-webkit-outer-spin-button,
.min-price::-webkit-inner-spin-button,
.quantity-adults::-webkit-inner-spin-button,
.quantity-adults::-webkit-outer-spin-button,
.quantity-children::-webkit-inner-spin-button,
.quantity-children::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.reservation-form-adults input {

  width: 110px;
  padding: 0 33px;
  text-align: center;
  border-radius: 4px;
}

.reservation-form-children input {
  width: 110px;
  padding: 0 10px;
  text-align: center;
  border-radius: 4px;
}

.reservation-form {
  width: 577px;
  display: grid;
  grid-template-columns: 137px 110px 86px 130px 110px;
  grid-template-rows: 48px 48px 48px 48px 48px 48px 60px;
}

.reservation-form-start {
  grid-area: 1/ 1/ 2 /6;
}

.reservation-form-start + p {
  grid-area: 2 /1 / 3 / 6;
  margin: 0;
  color: #ff5757;
  text-align: center;
  margin-left: 18px;
  padding-top: 5px;
}

.form-label {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.reservation-form-end {
  grid-area: 3/ 1/ 4 / 6;
}

.reservation-form-end + p {
  grid-area: 4/ 1 / 5 / 6;
  margin: 0;
  text-align: center;
  margin-left: 70px;
  padding-top: 3px;
}

.reservation-form-adults {
  grid-area: 5/ 1 / 6 / 3;
}

.reservation-form-children {
  grid-area: 5 / 4/ 6 / 6;
}

.reservation-form-children + div {
  grid-area: 6/ 1/ 7/ 6;
}

.reservation-submit {
  grid-area: 7 / 1 / 8 / 6;
  height: 60px;
  width: 577px;
  border: none;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.reservation-form p {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.wrap-quantity-input {
  position: relative;
  display: flex;
  width: 110px;
  align-items: center;
}

.button-plus,
.button-minus {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  opacity: 0.4;
}

.button-plus {
  left: 87px;
  transform: translate(-50%, -50%);
  bottom: -12px;
}

.button-minus {
  left: 14px;
  transform: translate(-50%, -50%);
}

.reservation-form-children .form-label {
  position: relative;
}

.field-group .form-label {
  padding-top: 12px;
  padding-right: 3px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
  right: -68px;
  position: absolute;
  top: -5px;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  border-radius: 10px;
  height: 144px;
  width: 256px;
  position: absolute;
  padding: 21px 18px 18px 22px;
  font-family: "PT Sans", sans-serif;
  top: 34px;
  left: -56px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

.tooltip-text::before {
  position: absolute;
  content: " ";
  width: 13px;
  height: 13px;
  background-color: #333333;
  transform: rotate(45deg);
  top: -7px;
  left: 121px;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-toggle:hover circle,
.tooltip-toggle:focus circle {
  fill: #83b3d3;
  opacity: 0.8;
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: #ffffff;
  border-color: #83b3d3;
  filter: brightness(0.9);
}

.modal-close-button:active path {
  border: transparent;
  fill: rgba(61, 67, 71, 0.2);
  border-color: rgba(131, 179, 211, 0.2);
}

.modal-close-button:active {
  border: transparent;
  border-color: rgba(131, 179, 211, 0.2);
}
