@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333333;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.page-header,
.main,
.page-footer {
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.liked {
  color: #ffffff;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.navigation-button {
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.main-background {
  background-color: #d5d590;
  background-image: url("../images/backgrounds/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}


.dark .subtitle {
  color: #ffffff;
}

.basic-text {
  font-size: 22px;
  line-height: 26px;
}

.describing-text {
  font-size: 18px;
  line-height: 21px;
}


.dark {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-odd,
.services-item-odd {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-even {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-subtitle,
.services-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: inherit;
}

.footer-contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.inner-header-catalog-hotels-background {
  background-image: url("../images/backgrounds/hotels-filter.jpg");
  background-color: #83b3d3;
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 412px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-header-catalog-hotels-wrap {
  width: 1060px;
  height: 307px;
  margin: auto;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-current {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title,
.rental-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-list {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  list-style: none;
}

.hotel-card-title {
  text-transform: none;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.main-search-hotels {
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.index-newsletter {
  background-image: url("../images/backgrounds/for-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #82b3d3;
}

.button {
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card-button {
  background-color: #756157;
}

.select,
.apply {
  background-color: #82b3d3;
}

.selected {
  background-color: #7db54f;
}

.transparent {
  background-color: transparent;
}


.newsletter-title {
  color: inherit;
}

.newsletter-mail-placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.newsletter-button {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {

  width: 440px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  width: 320px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.advantages,
.services {
  margin: 0;
  padding: 0;
  text-align: center;
}

.services-invite {
  height: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-text-wrap{
width: 505px;
}
.advantages-invite {
  height: 261px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-text-wrap {
  height: 123px;
  width: 656px;
}

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
}

.advantages-item-img {
  height: 385px;
}

.advantages-item-wrap {
  width: 230px;
  height: 160px;
}

.dark .advantages-item-wrap {
  width: 230px;
  height: 181px;
}

.services-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
}

.services-item-wrap {
  width: 230px;
  height: 223px;
}


.offers {
  height: 406px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers-text {
  width: 592px;
  height: 214px;
}

.offers,
.newsletter {
  text-align: center;
}

.newsletter {
  height: 414.86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-wrap {
  height: 214.86px;
  width: 684px;

}

.main-search-hotels {
  display: inline-block;
  width: 376px;
  height: 52px;
  text-align: center;
}

.page-footer {
  display: flex;
  justify-content: space-around;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.choice-rental-price {
  display: flex;
}

.rental-price-buttons-wrap {
  display: flex;
  flex-direction: column;
}

.filtration-result-header {
  display: flex;
  height: 49px;
}
.newsletter-mail-placeholder{
  border: none;
  padding: 0;
  width: 452px;
  height: 52px;
}
.newsletter-button{
padding: 0;
width: 232px;
height: 52px;
border: none;
}
.newsletter-form {
  display: flex;
}
.page-footer{
  height: 120px;
}
.footer-social{
  display: flex;
}
.catalog-filter-group{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  width: 150.43px;
  height: 157px;
}
.choice-rental-price{
width: 549px;
height: 160px;
}
.hotels-list-view {
  display: flex;
}
.filtration-result{
  height: 1235px;
}
.hotel-list-wrap{
  width: 1060px;
  height: 896px;
  margin: 0 auto;

}
.hotel-list{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.hotel-card{
width: 340px;
height: 438px;
list-style: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.catalog-hotels{
  width: 1060px;
  height: 160px;
}
